.ReplayButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 3rem !important;
    height: 3rem;
    width: 6rem;
    margin-top: 2rem !important;  
    margin-left: 2rem !important;
}
.replayInput{
    width: 50rem;
}
.replay input{
    overflow:hidden;
    max-width: 100%;
    font-size:1.4rem;
    resize: none;
    display:flex;
    border: none;
    outline: none;
    font-family: inherit !important;
    font-weight: 499 !important;
    color: inherit !important;
}