.ReplayButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 3rem !important;
    height: 3rem;
    width: 6rem;
    margin-top: 2rem !important;  
    margin-left: 2rem !important;
}
.replayInput{
    width: 50rem;
}
.warning__comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;   
    padding: 1.2rem; 
    background: white;
    min-width: 12.5rem;
    color: rgb(148, 148, 148);
}
.replay input{
    overflow:hidden;
    max-width: 100%;
    font-size:1.4rem;
    resize: none;
    display:flex;
    border: none;
    outline: none;
    font-family: inherit !important;
    font-weight: 499 !important;
    color: inherit !important;
}