.widgets{
    /* flex: 0.3; */
    flex: 0.5;

    overflow-y: scroll;
    -ms-overflow-style: none; /*ie, edge*/
    scrollbar-width: none; /*firefox*/

}

.widgets::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1000px){
   .widgets{
       display: none;
   } 
}

