.userItemFollow--user__item{
    padding: 1rem ;
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    cursor: pointer ;
}

.userItemFollow--user__item:hover{
    background: var(--twitter-background-2) ;
}

.userItemFollow--user__details{
    margin-left: 1rem ;
    flex: 1 ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    color: black;
}

.userItemFollow--user__details>span{
    font-size: 1.1rem ;
    color: var(--twitter-light) ;
}




.userItemFollow--user__item .MuiButton-root{
    border: 1px solid var(--twitter-darker-color);
    border-radius: 2rem;
    color: var(--twitter-darker-color);
    font-weight: 600;
    text-transform: unset;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 7rem;
}

.userItemFollow--user__item  .MuiAvatar-img{
    width: 5rem;
    height: 5rem;
}

.userItemFollow--user__item .MuiAvatar-root{
    margin-right: 1.5rem;
}