.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: fit-content;
}

.sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 3rem !important;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: -.3rem;
    margin: auto;
}

.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 50px !important;
    height: 5rem;
    margin: 2rem !important;

}

.sidebar__tweet>div {
    max-width: 3rem;
    margin-top: .3rem;
    margin-left: .3rem;
}


@media screen and (max-width: 1282px) {
    .sidebar__tweet {
        /* display: none !important; */
        width: 5rem !important;
        /* border-radius: 50% !important; */

    }

    .sidebar {
        flex: unset !important;
    }


}


@media screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }

    .sidebar__tweet {
        margin-left: 1rem !important;
    }
}

@media screen and (min-width: 1282px) {
    .sidebar__tweet>div {
        display: none
    }
}